$body-background-color: #ffffff;
$sidebar-color: $blue-200;
$border-color: #ffffff;

$body-text-color: $grey-dk-300;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $blue-200;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-lt-200;
$search-background-color: $grey-lt-200;
$table-background-color: $grey-lt-200;
$feedback-color: darken($sidebar-color, 3%);